[submodule "pages"]
	path = pages
	url = https://github.com/pdvrieze/xmlutil.git
	branch = pages

[submodule "xsdtests"]
	path = schemaTests/src/commonMain/resources/xsts
	url = https://github.com/w3c/xsdtests.git
